* {
    font-family: Roboto, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 0;
    min-width: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    font-weight: bold;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;   
}

/* background colors */
.bg-darkblue {
    background-color: #1f2937;
}

.bg-lightblue {
    background-color: #3882f6;
}

.bg-lightgray {
    background-color: #e5e7eb;
}

/* text colors */
.text-white1, .text-white1 > * {
    color: #f9faf8;
}

.text-white2, .text-white2 > * {
    color: #e5e7eb;
}

/* font sizes */
.text-size18, .text-size18 > *  {
    font-size: 18px;
}

.text-size24 {
    font-size: 24px;
}

.text-size36 {
    font-size: 36px;
}

.text-size48 {
    font-size: 48px;
}

/* sections */
.section {
    padding: 32px 144px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.hero  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.hero .left,
.hero .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    max-height: auto;
    gap: 32px;
}

.hero .right {
    flex:1;
    min-width: 250px;
}

.info,
.footer {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info-content {
    display:flex;
    flex-wrap: wrap;
    gap: 32px;
}

.info-box {
    max-width: 150px;
}

.info img {
    border: #3882f6 5px solid;
    border-radius: 10px;
}

.quote .text {
    font-style: italic;
    font-weight: 300;
}

.quote .quotee {
    display:block;
    text-align: right;
    font-weight: bolder;
}

.c2a-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    gap: 32px;
    border-radius: 10px;
}

.c2a .signup-btn {
    border: #f9faf8 2px solid;
}