body {
    font-family: "Segoe UI", Verdana, sans-serif;
    background-color: lightblue;
    color: black;
    text-align: center;
}

h1,
h3 {
    font-weight: bold;
    text-transform: uppercase;   
}

.recipe-container {
    height: auto;
    width: 500px;
    margin: 15px auto;    
}

.recipe-title {
    font-size: 24px;
}

.recipe-image img {
    display: block;
    height: auto;
    width: 50%;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: #77A1AF;
}

.recipe-description,
.recipe-time,
.recipe-ingredients,
.recipe-steps {
    display: block;
    background-color: #E5FFFF; 
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
    text-align: left;
}

.container.homepage-link {
    text-align: center;
}

.homepage-link {
    display: inline;}

.homepage-link img {
    background-color: #77A1AF;
    width: 100px;
    border-radius: 50%;
}

.homepage-link:hover img {
    background-color: #E5FFFF;
}
