
body {
    font-family: "Segoe UI", Verdana, sans-serif;
    background-color: lightblue;
    color: black;
}

.container {
    height: auto;
    width: 500px;
    margin: 15px auto;    
}

.homepage-image img{
    display: block;
    background-color: #77A1AF;
    margin: auto;
    width: 50%;
    border-radius:50%
}

.homepage-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.recipe-links-container {
    text-align: center;
}

.recipe-link {
    display: inline-block;
}

.recipe-link a {
    text-decoration: none;
}

.recipe-link img {
    background-color: #77A1AF;
    height: auto;
    width: 100px;
    border-radius: 50%;
    padding: 5px;

}

.recipe-link:hover img {
    background-color: #E5FFFF;
}